In [23]:
a = {'apple','lemon','grapes'}

In [24]:
a

{'apple', 'grapes', 'lemon'}

In [25]:
a.add('jackfruit')
a

{'apple', 'grapes', 'jackfruit', 'lemon'}

In [26]:
a.add(9)
a

{9, 'apple', 'grapes', 'jackfruit', 'lemon'}

In [33]:
b = {1,2,3}
b

{1, 2, 3}

In [34]:
b.add(4)
b

{1, 2, 3, 4}

In [35]:
b.update('one')
b

{1, 2, 3, 4, 'e', 'n', 'o'}

In [56]:
p = {1,2,3,4,5}
q = {5,6,7}
r = {5,6,7,8,9}

In [50]:
p.difference(q)

{1, 2, 3, 4}

In [48]:
p.difference_update(q,r)
p

{1, 2, 3, 4}

In [52]:
p.discard(3)
p

{1, 2, 4, 5}

In [54]:
p.intersection(q,r)

{5}

In [55]:
q.intersection(r)

{5, 6, 7}

In [58]:
p.intersection_update(q,r)
p

{5}

In [60]:
m = {1,2,3,4,5}
n = {3,4,5}

In [61]:
m.isdisjoint(n)

False

In [62]:
m.issubset(n)

False

In [63]:
n.issubset(m)

True

In [64]:
m.issuperset(n)

True

In [3]:
m1 = {1,2,3,4}
n1 = {3,4,5,6,7,8}

In [4]:
m1.symmetric_difference(n1) #all elements in both sets except common elements

{1, 2, 5, 6, 7, 8}

In [5]:
m1.symmetric_difference_update(n1)
m1

{1, 2, 5, 6, 7, 8}

In [6]:
m1.union(n1)

{1, 2, 3, 4, 5, 6, 7, 8}